<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Добавить модуль</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style_draft_module.css') }}"
    />
  </head>
  <body>
    <h1>Добавить модуль</h1>
    <form
      action="/hr_add"
      method="POST"
      id="moduleForm"
      enctype="multipart/form-data"
    >
      <label for="module_name">Рабочее наименование модуля:</label>
      <input type="text" id="module_name" name="module_name" required />

      <label for="sogl_users">Согласованты:</label>
      <select
        id="sogl_users"
        name="sogl_users[]"
        multiple
        size="5"
        required > {% for sogl_user in sogl_users %}
        <option value="{{ sogl_user.id }}">{{ sogl_user.full_name }}</option>
        {% endfor %}
      </select>

      <label for="responsible_users">Ответственные пользователи:</label>
      <select
        id="responsible_users"
        name="responsible_users[]"
        multiple
        size="5"
        required > {% for user in users %}
        <option value="{{ user.id }}">{{ user.full_name }}</option>
        {% endfor %}
      </select>

      <label for="duration">Срок создания модуля (в днях):</label>
      <input type="number" id="duration" name="duration" required />

      <button type="submit">Добавить модуль</button>
    </form>
    <a href="/" class="btn-secondary">Назад на главную</a>
  </body>
</html>
