<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
    <!-- Подключение CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Кнопки входа и регистрации сверху с эффектами -->
    <div class="top-btns">
      {% if session['user_id'] %}
      <div>{{ current_user_id }}</div>
      <a href="/logout" class="custom-btn btn-gray">Выйти</a>
      {% else %}
      <a href="/login" class="custom-btn btn-green">Войти</a>
      <a href="/signup" class="custom-btn btn-gray">Зарегистрироваться</a>
      {% endif %}
    </div>

    <div class="container">
      <div class="text-center shadow p-5 bg-light rounded">
        <h1 class="display-4 text-primary">Добро пожаловать!</h1>
        <p class="lead mt-3">
          Управляйте модулями быстро и удобно с помощью нашего интерфейса.
        </p>

        <div class="mt-4">
          <!-- Контейнер для кнопок -->
          <div class="d-flex flex-column gap-3 align-items-center">
            <!-- Кнопка "Создать новый модуль" -->
            <a href="/add" class="custom-btn btn-green w-100">
              <span>Создать новый модуль</span>
            </a>

            <!-- Кнопка "Перейти в черновик" -->
            <a href="/draft" class="custom-btn btn-gray w-100">
              <span>Перейти в черновик</span>
            </a>

            <!-- Кнопка "Назначение нового модуля (для HR)" -->
            <a href="/hr_add" class="custom-btn btn-gray w-100">
              <span>Назначение нового модуля (для HR)</span>
            </a>

            <!-- Кнопка "Адаптационные модули" с уведомлением -->
            <a href="/view_modules" class="custom-btn btn-green w-100">
              <span>Адаптационные модули</span>
              {% if count_modules > 0 %}
              <span class="notification-badge">{{ count_modules }}</span>
              {% endif %}
            </a>

            <!-- Кнопка "Совместная разработка" -->
            <a href="/joint_development" class="custom-btn btn-green w-100">
              <span>Совместная разработка</span>
            </a>

            <!-- Кнопка "Перейти к согласованию" -->
            <a href="/view_modules_sogl" class="custom-btn btn-gray w-100">
              <span>Согласование модулей</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
