<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список модулей</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style_modules.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='js/search_joint_modules.js') }}"
    ></script>
  </head>
  <body>
    <div class="sidebar">
      <h2>Меню</h2>
      <input type="text" placeholder="Поиск..." id="search-input" />

      <div>
        <label for="status-select">Статус:</label>
        <select id="status-select">
          <option value="">Все доступные</option>
          <option value="черновик">Черновики</option>
          <option value="новый просмотрен">Новые</option>
          <option value="срочный">Срочные</option>
        </select>
      </div>
    </div>

    <div class="modules-container">
      <h1>Список модулей</h1>

      {% for module in modules %}
      <div
        class="module"
        style="background-color:
                {% if module.duration_develop < 7 %} red  
                {% elif module.state == 'черновик' %} yellow
                {% elif module.state == 'новый просмотрен' %} green
                {% endif %};"
        data-state="{% if module.duration_develop < 7 %}срочный{% else %} {{module.state}} {% endif %}"
      >
        <a
          href="{{ url_for('joint_development_detail', module_id=module.id) }}"
          style="color: white; text-decoration: none"
        >
          {{ module.code_name }}
        </a>
      </div>
      {% endfor %}

      <a href="/" class="btn-secondary">Назад на главную</a>
    </div>
  </body>
</html>
