<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Информация о модуле</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style_module_detail.css') }}"
    />
    <script src="{{ url_for('static', filename='/js/module_detail.js') }}"></script>
  </head>
  <body>
    <h1>Информация о модуле: {{ module.code_name }}</h1>

    <div class="module-details">
      {% if module.code_name %}
      <p><strong>Кодовое название:</strong> {{ module.code_name }}</p>
      {% endif %} {% if module.responsible_user_ids %}
      <strong>Ответственные пользователи за разработку модуля:</strong>
      <ul>
        {% for user in responsible_users %}
        <li>{{ user.full_name }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <!-- {% if module.duration_develop %}
      <p><strong>duration_develop:</strong> {{ module.duration_develop }}</p>
      {% endif %} -->
      {% if module.id %}
      <p><strong>ID данного модуля:</strong> {{ module.id }}</p>
      {% endif %} {% if module.module_name %}
      <p><strong>Название:</strong> {{ module.module_name }}</p>
      {% endif %} {% if module.importance %}
      <p><strong>Важность:</strong> {{ module.importance }}</p>
      {% endif %} {% if module.state %}
      <p><strong>Состояние:</strong> {{ module.state }}</p>
      {% endif %} {% if module.positions %}
      <p><strong>Должности:</strong></p>
      <ul>
        {% for position in module.positions %}
        <li>{{ position }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% if module.activities %}
      <p><strong>Мероприятия:</strong></p>
      <ul style="text-decoration: none; list-style-type: none">
        {% for activity in module.activities %}
        <li>
          <strong>Название:</strong> {{ activity.name }}<br />
          <strong>Тип:</strong> {{ activity.type }}<br />
          <strong>Описание:</strong> {{ activity.content }}
        </li>
        {% endfor %} {% for activity in activities %}
        <li>
          <strong>Название:</strong> {{ activity.name }}<br />
          <strong>Тип:</strong> {{ activity.type }}<br />
          <strong>Описание:</strong> {{ activity.content }}<br />
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% if module.data_source %}
      <p><strong>Источник(и):</strong> {{ module.data_source }}</p>
      {% endif %} {% if module.duration %}
      <p><strong>Cрок выполнения:</strong> {{ module.duration }}</p>
      {% endif %} {% if module.responsible %}
      <p><strong>Ответственный:</strong> {{ module.responsible }}</p>
      {% endif %} {% if module.materials %}
      <p><strong>Материалы:</strong></p>
      <ul class="list-unstyled">
        {% for filename in module.materials %}
        <li class="mb-3">
          <a
            href="{{ url_for('download_file', filename=filename) }}"
            class="btn btn-download"
            download
          >
            Скачать {{ filename }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p><strong>Материалы:</strong> Материалы не добавлены</p>
      {% endif %} {% if module.duration_develop %}
      <p>
        <strong>Срок разработки:</strong> {{ module.duration_develop }} дней
      </p>
      {% endif %}        <!-- Кнопки согласования и отклонения -->
      {% if sogl_user and module.state == 'согласование' and approval_module != 'yes'  %}
      <div class="approval-buttons">
        <button class="btn btn-success" onclick="acceptModule({{ module.id }})  ">
          Согласовать
        </button>
        <button class="btn btn-danger" onclick="showRejectionForm()">
          Отклонить
        </button>
      </div>

      <div id="rejectionForm" class="rejection-form">
        <form action="/reject_module/{{ module.id }}" method="POST">
          <div class="mb-3">
            <label for="reason" class="form-label">Причина отклонения:</label>
            <textarea
              id="reason"
              name="reason"
              class="form-control"
              required
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="comments" class="form-label">Замечания:</label>
            <textarea
              id="comments"
              name="comments"
              class="form-control"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="correction_days" class="form-label"
              >Срок исправления (дней):</label
            >
            <input
              type="number"
              id="correction_days"
              name="correction_days"
              class="form-control"
              min="1"
              required
            />
          </div>
          <button type="submit" class="btn btn-warning">
            Подтвердить отклонение
          </button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
      <a href="/" class="btn-secondary">Назад на главную</a>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>
</html>
